<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sahil_AdminNote::main_menu"
             title="Admin Note"
             module="Sahil_AdminNote"
             sortOrder="10"
             parent="Magento_Backend::content"
             action="adminnote/index/index"
             resource="Sahil_AdminNote::main_menu"/>
    </menu>
</config>
